* {font-family: arial; box-sizing: border-box;}
body {background: lightgrey;}
.centrar  {text-align: center;}
h1 {color: blue}
.container {width: 60%; margin: 50px auto; max-width: 600px; padding: 20px; border: 2px solid grey;}
label {display: inline-block; width: 150px; vertical-align: top;}
input {margin-right: 20px;}
.card {width: 80%; margin: auto; padding: 20px; border: 2px solid black; border-radius: 5px; background: white; box-shadow: 2px 2px 2px grey;}
aside {width: 15px; height: 15px; display: inline-block; margin-right: 2px;}
.rojo {background-color: red;}
.amarillo {background-color: yellow;}
.verde {background-color: green;}
.azul {background-color: blue;}